# Language server
.cache/
compile_commands.json


# Firmware Demos
build/
asf/
reference/

# Klipper
klipper/

# Dumps and decompiled firmware
fw/
ghidra/

# DFP files
*_DFP.*

# KiCAD stuff
schematic/*.lck
schematic/.history/

# Rust
target/

# MacOS stuff
.DS_Store
